{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<!-- Code for Slide taken from  https://getbootstrap.com/docs/4.0/components/carousel/#with-indicators-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- ... [carousel code unchanged] ... -->
</div>

<!-- Section-->
<!-- Code for cards taken from https://getbootstrap.com/docs/4.0/components/card/#background-and-color and modified -->
<section class="py-5">
  <div class="container">
    <div
      class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 justify-content-center"
    >
      <!-- Card 1 -->
      <div class="col mb-5 p-5">
        <a
          href="{{ url_for('views.products', category_name='Dog food & treats') }}"
        >
          <div class="card text-white bg-success">
            <img
              class="card-img p-5"
              src="../static/Dog_Dryfood_1.jpg"
              alt="Card image"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">Dog Food &amp; Treats</h5>
            </div>
          </div>
        </a>
      </div>
      <!-- Card 2 -->
      <div class="col mb-5 p-5">
        <a
          href="{{ url_for('views.products', category_name='Dog beds & baskets') }}"
        >
          <div class="card text-white bg-success">
            <img
              class="card-img p-5"
              src="../static/Dog_Beds_1.jpg"
              alt="Card image"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">Dog Beds &amp; Baskets</h5>
            </div>
          </div>
        </a>
      </div>
      <!-- Card 3 -->
      <div class="col mb-5 p-5">
        <a
          href="{{ url_for('views.products', category_name='Dog toys, sport & training') }}"
        >
          <div class="card text-white bg-success">
            <img
              class="card-img p-5"
              src="../static/Dog_Toys_Sports_Acc_1.jpg"
              alt="Card image"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">Dog Toys Sport &amp; Training</h5>
            </div>
          </div>
        </a>
      </div>
      <!-- Card 4 -->
      <div class="col mb-5 p-5">
        <a
          href="{{ url_for('views.products', category_name='Dog grooming & care') }}"
        >
          <div class="card text-white bg-success">
            <img
              class="card-img p-5"
              src="../static/Dog_Grooming_Care_1.jpg"
              alt="Card image"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">Dog Grooming &amp; Care</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <img
    src="../static/puppy-running.jpg"
    class="img-fluid"
    alt="Responsive image"
  />
</section>

{% endblock %}
